#player-name, #location_airport, #airport-name{
    padding-left: 1rem;
}

.topic{
    padding-left: 14rem;
}
.paragraph{
    padding-left: 42rem;
    padding-right: 2rem;
}
.button{
    float: right;
    padding-right: 4rem;
    margin-top: -2rem;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#player-name-input{
    font-size: 1em;
    font-weight: bold;
    border: 0;
}
#score, #status{
    text-align: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.box table {
  width: 100%;
  text-align: left;
  border: var(--grey) solid 1px;
  border-radius: 4px;
}
.box1{
    margin-top: 15rem;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
    margin-bottom: 1rem;
}
.box2{
    box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
}

#map,
.box {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 10px;
  margin-bottom: 1rem;
    margin-top: 1rem;
}

.boxes {
    width: 40%;
    padding-left: 2rem;
    padding-right: 1rem;
    box-sizing: border-box;

}

#map {
  width: 60%;
  height: 83vh;
  overflow: hidden;
  left: 1rem;
    margin-bottom: 0rem;
    margin-top: 1rem;

}

form {
    position: absolute;
    right: 1rem;
    z-index: 999;
    padding: 1rem;
    background-color: #ccc;
    border: 1px solid #000;
    width: 30rem;
    margin-top: 4rem;
}

#single {
    top: 20rem;
}

.page-header {
    text-align: center; background-color: dodgerblue;
    padding-bottom: 1rem;
}

.page-footer {
  text-align: center; background-color: dodgerblue;
    margin-bottom: .5rem;
}
input {
    padding: .5rem;
}

select {
    display: block;
    padding: .5rem;
    margin-bottom: .3rem;
}


.container {
  width: 100%;
  position: relative;
}

